body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"] {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
}

button:hover {
    background-color: #3e8e41;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
}

li {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

li:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.cliente-info {
    display: none;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.cliente-info h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.cliente-info p {
    margin-bottom: 10px;
}

.cliente-info table {
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
}

.cliente-info th {
    text-align: left;
    background-color: #f2f2f2;
    padding: 10px;
}

.cliente-info td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cliente-info button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.cliente-info button:hover {
    background-color: #d32f2f;
}

.cliente-info .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.cliente-info .close:hover {
    color: #333;
}

.button-details,
.button-delete,
.button-pdf {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-details:hover {
    background-color: #3498db;
    color: white;
}

.button-delete:hover {
    background-color: #e74c3c;
    color: white;
}
